.recomendaciones-container {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px; /* Reducido para mejorar rendimiento */
  margin: 0 auto;
}
h2 {

  color: #333333;
}
.cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

canvas {
  max-width: 100%;
  background-color: white; /* Fondo blanco */
  border-radius: 8px;       /* Opcional: bordes redondeados */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Opcional: sombra ligera */
}
button {
  margin-bottom: 15px;
  padding: 8px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1565c0;
}