<mat-toolbar color="accent" class="toolbar">
  <button mat-icon-button (click)="toggleMenu()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="logo">
    <img src="assets/images/agroconecta.png" alt="Logotipo AgroConecta" (click)="goHome()" style="cursor:pointer;">
    <span class="spacer"  (click)="goHome()">AgroConecta</span>
  </div>

  <div class="toolbar-buttons desktop-only">
    <button mat-flat-button (click)="redirectToInicio()">Inicio</button>
    <button mat-flat-button (click)="redirectToCursos()">Ingreso de Cursos</button>
    <button mat-flat-button (click)="redirectToForos()">Foros</button>

    <!-- Botón visible solo para administradores -->
    <button *ngIf="isAdmin" mat-flat-button (click)="redirectToAdmin()">Panel de Administración</button>

    <button mat-flat-button (click)="logOut()">Log out</button>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="mobile-menu">
    <button mat-button (click)="redirectToInicio()">Inicio</button>
    <button mat-button (click)="redirectToCursos()">Ingreso de Cursos</button>
    <button mat-button (click)="redirectToForos()">Foros</button>

    <!-- Botón visible solo para administradores -->
    <button *ngIf="isAdmin" mat-button (click)="redirectToAdmin()">Panel de Administración</button>
    <button *ngIf="isAdmin" mat-button (click)="redirectToReportes()">Reportes</button>

    <button mat-button (click)="logOut()">Log out</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer>
  <p>&copy; 2025 AgroConecta. Todos los derechos reservados.</p>

