<mat-tab-group>
  <mat-tab class="cabecera" label="Promedio de Calificaciones">
    <app-promedio-calificaciones></app-promedio-calificaciones>
  </mat-tab>
  <mat-tab class="cabecera" label="Recomendaciones">
    <app-recomendaciones></app-recomendaciones>
  </mat-tab>
  <mat-tab class="cabecera" label="Claridad vs Contenido">
    <app-claridad-vs-contenido></app-claridad-vs-contenido>
  </mat-tab>
  <mat-tab class="cabecera" label="Evolución temporal de calificaciones">
    <app-evolucion-temporal></app-evolucion-temporal>
  </mat-tab>
  <mat-tab class="cabecera" label="Usuarios">
    <app-usuarios-reporte></app-usuarios-reporte>
  </mat-tab>
</mat-tab-group>